input:focus,
textarea:focus {
	outline: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
textarea {
	width: 100%;
}

select {
	width: 100%;
}

::-moz-placeholder {

}

::-webkit-input-placeholder {

}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	width: auto;
	line-height: 1;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {

	}
}

input[type="search"] {
	@include box-sizing(border-box);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}


// Gravity forms
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 16px;
	padding: 1.6rem;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
	margin: 1.6rem 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 14px;
	font-size: 1.4rem;
}

