

.title-area {
	float: left;
}

.header-image {
	.title-area {
		padding: 0;
	}

	.site-description,
	.site-title a {
		@extend %image-replacement;
		display: block;
	}
}

.site-title {
	line-height: 1;
	a {

		&:hover,
		&:focus,
		&:active {

		}
	}
}

.site-description {
	margin: 0;
	line-height: 1;
	color: darken($heading-color,15%);
}

.site-header {
	background: $header-bg-color;
	@extend %remove-outer-gutter;		//Negative margins to bring block out to edge of .site-inner
	@include padding-leader($rhythm-height);
	@include padding-trailer($rhythm-height);

	.widget-area {
		float: right;
	}
}