//Main colors
$default-bg-color: white;
$default-text-color: grey;

//Typography
$heading-color: grey;

// Links
$link-color: #1e1e1e;
$link-hover-color: #ff2a00;

//Header colors
$header-bg-color: $default-bg-color;

//Content colors

//Footer colors
$footer-bg-color: $default-bg-color;
$footer-border-color: #1e1e1e;