/*
11 Footer
---------------------------------------------------------------------------------------------------- */

#footer {
	clear: both;
	
	.wrap {
		border-top: 2px solid $footer-border-color;
		overflow: hidden;
		padding: 48px 0;
		padding: 3rem 0;
	}
	
	.creds {
		
		.website-designed-by p {
			@include en-icon(browser, 2em);
		}
		
		div {
			float: left;
			margin-left: 1em;
		}
	}
	
	.gototop a {
		@include en-icon(chevron-up, 3em);
	}
	
	.creds, .gototop {
		margin: 8px 0;
		margin: 0.5rem 0;
	}
}



/* 11a - Footer Widgets ----------- */

.footer-widgets {
	border-top: 2px solid #1e1e1e;
	clear: both;
	line-height: 1.5;
	overflow: hidden;
	padding: 32px 0 16px;
	padding: 2rem 0 1rem;
}

.footer-widgets p {
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.footer-widgets .widget {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

.footer-widgets .widget-area ul li {
	list-style-type: none;
	margin-bottom: 6px;
	margin-bottom: 0.375rem;
	word-wrap: break-word;
}
