//Grid Settings - Mobile First SUSY Grid
$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1.5em;
$grid-padding   : $gutter-width;

$break-portrait-tablet: 9;
$break-screen: 12;

$genesis-footer-areas: 3;

// Set up the grid in #wrap and setup breakpoints for responsive design
.site-container {
	@include container;
	//@include susy-grid-background; 					//uncomment to see grid for mobile
	
	  @include at-breakpoint($break-portrait-tablet) {
	    @include set-container-width;
	    //@include susy-grid-background; 				//uncomment to see grid for tablet
	  }
	  
	  @include at-breakpoint($break-screen) {
	    @include set-container-width;
	    //@include susy-grid-background; 			//uncomment to see grid for screen
	  }
}

.site-header .search-form {
		width: 100%;
	}

	.archive-page,
	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
.genesis-nav-menu,
	#description,
	.site-footer .creds,
	.site-footer .gototop,
	.site-header .search-form,
	.site-title,
	.title-area {
		text-align: center;
	}

	.genesis-nav-menu a {
		padding: 20px 16px;
		padding: 1.25rem 1rem;
	}

.genesis-nav-menu li,
	.site-footer.creds,
	.site-footer.gototop,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
}


// Layout for $break-portrait tablet (9 Columns)
@include at-breakpoint($break-portrait-tablet) {
	.site-header .widget-area {
	@include span-columns(3,$break-portrait-tablet); }
	
	.footer-widgets {
		
		.widget-area {
		@include span-columns(12 / $genesis-footer-areas,12); 
		@include nth-omega(#{$genesis-footer-areas}n);
		}
	}
	
	.sidebar,
	.content-sidebar-sidebar .sidebar-primary,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary {
		@include span-columns(3,$break-portrait-tablet);
	}
	
	.sidebar-secondary {
		@include span-columns(9,$break-portrait-tablet);
	}
	
	.content-sidebar .content,
	.sidebar-content .content,
	.title-area {
		@include span-columns(6,$break-portrait-tablet);
	}
	
	// Layouts with 2 Sidebars
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap {
	    $main-columns: 9;
	    @include span-columns($main-columns, $break-portrait-tablet);
	    
	    .content { 
	    	@include span-columns(6,$main-columns) 
	    }
	    .sidebar { 
	    	@include span-columns(3, $main-columns) 
	    }
    }
	
	// Apply omega (last column)
	.content-sidebar .sidebar, 
	.sidebar-content .content,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap .content, 
	.sidebar-content-sidebar .content-sidebar-wrap .sidebar,
	.sidebar-sidebar-content .content-sidebar-wrap .content,
	.sidebar-content-sidebar .content-sidebar-wrap .sidebar,
	.content-sidebar-sidebar .content-sidebar-wrap .sidebar {
		@include omega;
	}

	// Tablet and up layout defaults
	
	.full-width-content .content,
	.full-width-content .content-sidebar-wrap,
	.content-sidebar .content-sidebar-wrap,
	.sidebar-content .content-sidebar-wrap {
		width: 100%; /* 1152px / 1152px */
	}
	
	.genesis-nav-menu li,
	.site-footer.gototop,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: left;
	}
	
	.site-footer.creds {
		float: right;
	}
	

	.genesis-nav-menu,
	.site-description,
	.site-footer.creds,
	.site-footer.gototop,
	.site-header .search-form,
	.site-title,
	.title-area {
		text-align: left;
	}

	.genesis-nav-menu a {
		padding: 20px 16px;
		padding: 1.25rem 1rem;
	}

	#title {
		margin: 16px 0;
		margin: 1rem 0;
	}

	.site-header .search-form {
		margin: 32px auto 0;
		margin: 2rem auto 0;
		width: 50%;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.site-footer.wrap {
		padding: 24px 0;
		padding: 1.5rem 0;
	}

	.footer-widgets-1,
	.site-header .genesis-nav-menu {
		margin: 0;
	}
	
	.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 4.166666666%; /* 48px / 1152px */
}

.one-half,
.three-sixths,
.two-fourths {
	width: 47.9166666666%; /* 552px / 1152px */
}

.one-third,
.two-sixths {
	width: 30.555555555%; /* 352px / 1152px */
}

.four-sixths,
.two-thirds {
	width: 65.277777777%; /* 752px / 1152px */
}

.one-fourth {
	width: 21.875%; /* 252px / 1152px */
}

.three-fourths {
	width: 73.958333333%; /* 852px / 1152px */
}

.one-fifth {
	width: 16.666666666%; /* 192px / 1152px */
}

.two-fifths {
	width: 37.5%; /* 432px / 1152px */
}

.three-fifths {
	width: 58.333333333%; /* 672px / 1152px */
}

.four-fifths {
	width: 79.166666666%; /* 912px / 1152px */
}

.one-sixth {
	width: 13.194444444%; /* 152px / 1152px */
}

.five-sixths {
	width: 82.638888888%; /* 952px / 1152px */
}

.first {
	margin-left: 0;
}
}

// Layout for $break-screen (12 Columns)
@include at-breakpoint($break-screen) {
	.site-header .widget-area {
	@include span-columns(4,$break-screen); }
	
	.footer-widgets {
		
		.widget-area {
		@include span-columns(12 / $genesis-footer-areas,$break-screen); 
		@include nth-omega(#{$genesis-footer-areas}n);
		}
	}
	
	.sidebar,
	.content-sidebar-sidebar .sidebar-primary,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary {
		@include span-columns(3,$break-screen);
	}
	
	.sidebar-secondary {
		@include span-columns(2,$break-screen);
	}
	
	.content-sidebar .content,
	.sidebar-content .content,
	.title-area {
		@include span-columns(9,$break-screen);
	}
	
	// Layouts with 2 Sidebars
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap {
	    $main-columns: 10;
	    @include span-columns($main-columns, $break-screen);
	    
	    .content { 
	    	@include span-columns(7,$main-columns) 
	    }
	    .sidebar { 
	    	@include span-columns(3, $main-columns) 
	    }
    }
	
	// Apply omega (last column)
	.content-sidebar .sidebar, 
	.sidebar-content .content,
	.sidebar-content-sidebar .sidebar-primary,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .sidebar-secondary,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap .content, 
	.sidebar-content-sidebar .content-sidebar-wrap .sidebar,
	.sidebar-sidebar-content .content-sidebar-wrap .content,
	.sidebar-content-sidebar .content-sidebar-wrap .sidebar,
	.content-sidebar-sidebar .content-sidebar-wrap .sidebar {
		@include omega;
	}
}

.site-inner {
	clear: both;
	overflow: hidden;
	padding-top: 40px;
	padding-top: 2.5rem;
}





